<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="index.css" rel="stylesheet">
    <link href="/logo.css/" rel="stylesheet">
    <script src="/logo.js/"></script>
    
    <title>Welcome to Critter</title>
</head>
<div class="container">
    <div class="logo"></div>
    <div class="side-menu"></div>
    <div class="results"></div>
    <div class="timeline"></div>
    <div class="tweet-location"></div>
    <div class="search"></div>
</div>
    <div id= intro>
        <header style="font-size: 96px;">Welcome to Critter</header>
        <h1 style="font-size: 48px;">what we stand for.</h1>
        <p style="font-size: 24px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ea aperiam iste. Nisi ea doloremque, aut ut consequuntur dolore laboriosam optio! Maiores consequuntur nam molestiae?</p>
    </div>
    <div id=Features>
        <h1>What we offer</h1>
        <P style="font-size: 24px;"> At Critter we.... Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum aspernatur magni harum minus voluptatem nisi maiores quibusdam aperiam facere delectus iusto, dolorum iste debitis quos possimus aliquid ipsam id itaque ducimus quasi quae quas et? Suscipit omnis quis harum tempora corrupti eum, cupiditate nihil architecto praesentium maxime voluptate delectus dolorem fuga, necessitatibus deleniti perspiciatis eveniet culpa exercitationem commodi. Optio eius dolore dolores. Voluptatem optio, omnis aut distinctio, eum velit sint facere voluptatum accusamus, molestias iste!</P>
    </div>
    <div class="Accounts"></div>
    <form action="/action_page.php">
    <h2>Login</h2>
    <label for="Email">Email</label>
    <input type="text" id="Email" name="Email" placeholder="Your Email">
    <label for="password">passsword</label>
    <input type="text" id="password" name="password" placeholder="password">
    <input type="submit" value="Submit">
</form>
<br>
    <div class="Accounts"></div>
    <form action="/action_page.php">
        <h2>Create Account</h2>
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
    
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    <label for="Email">Email</label>
    <input type="text" id="Email" name="Email" placeholder="Your Email">
    <label for="password"> Create passsword</label>
    <input type="text" id="password" name="password" placeholder="password">
    <P bold>**Must be 8 character with upper & lowercase letter, one special character, and number.</P>
    <label for="password"> Confirm passsword</label>
    <input type="text" id="password" name="password" placeholder="password">
        <label for="country">Country</label>
        <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
            <option value="usa">Japan</option>
            <option value="usa">Europe</option>
        </select>
    
        <input type="submit" value="Submit">
    </form>
