<% if (userId) { %>
    <form action="/crit" method="post">
         <textarea id="reply-crit" name="replyCrit" placeholder="Rely to this crit"></textarea>
         <button id="create-crit-btn">CRIT!</button>
     </form>
<% } %>

