<% if (userId) { %>
        <form action="/crit/create" method="post" class="card" id="create-crit-form">
            <textarea id="create-crit" name="createCrit" placeholder="Create a Crit!"></textarea>
            <button id="create-crit-btn">Crit!</button>
        </form>    
<% } %>
