<% if (userId) { %>
    <form action="/crit/create" method="post">
        <textarea id="create-crit" name="createCrit" placeholder="Create a Crit!"></textarea>
        <button id="create-crit-btn">CRIT!</button>
    </form>
<% } %>
