<% if (userId) { %>
    <form name="crits" action="/crit/create" onsubmit="return validateForm()" method="post" required>
        <textarea id="create-crit" name="createCrit" placeholder="Create a Crit!"></textarea>
        <button id="create-crit-btn">CRIT!</button>
    </form>
<% } %>
