<% if (userId === undefined) { %>
<li>
    <img src="https://img.icons8.com/ios-filled/30/000000/login-rounded-right.png"/>
    <a href="#" id="login-btn">Login</a>
    <div class="parent-container">
        <div class="login card fade">
            <form action="/auth" method="POST">
                <input id="email" name="email" type="text" placeholder="Enter Email" value="">
                <input id="password" name="password" type="password" placeholder="Enter Password" value="">
                <button id="login-btn">Login</button>
            </form>
        </div>    
    </div>
    <img src="https://img.icons8.com/ios-filled/30/000000/login-rounded-right.png"/>
    <a href="#" id="signup-btn">Sign Up</a>
    <div class="parent-container">
        <div class="login card fade">
            <form action="/signup" method="POST">
                <input name="email" type="text" placeholder="Enter Email" value="">
                <input name="username" type="text" placeholder="Enter username" value="">
                <input name="display_name" type="text" placeholder="Enter Nickname" value="">
                <input name="password" type="password" placeholder="Enter Password" value="">
                <button class="signup-btn">Sign Up</button>
            </form>
        </div>    
    </div>
</li>
<% } else { %>
    <li>
        <img src="https://img.icons8.com/ios-filled/30/000000/login-rounded-right.png"/>
        <a href="#" id="login-btn">@<%= username %></a>
        <div class="parent-container">
            <div class="login card fade">
                <form action="/logout" method="POST">
                    <button id="logout-btn">Logout</button>
                </form>
            </div>    
        </div>
    </li>
<% } %>