<div class="side-menu">
    <ul>
        <li>
            <img src="https://img.icons8.com/material-rounded/30/000000/home-page.png"/>
            <a href="/static/index.html">Home</a>
        </li>
        
        <li>
            <img src="https://img.icons8.com/material-rounded/30/000000/user-male-circle.png"/>
            <a href="/views/myprofile.ejs">Profile</a>
        </li>
        <li>
            <img src="https://img.icons8.com/ios-glyphs/30/000000/gear.png"/>
            <i img src="https://img.icons8.com/ios-glyphs/30/000000/gear.png" href="">Settings</i>
        </li>
    </ul>
</div>