<div class="timeline">
        <div id="profile-header" class="card">
            <div id="header-image"></div>
            <div class="parent-container divider">
                <div id="profile-pic"></div>
            </div>
            <div class="parent-container" id="header-text">
                <p id="name">
                    <%= user.display_name %>
                </p>
                <p id="handle">
                    <%= user.username %>
                </p>
                <p id="bio">i love cute things, please be friendly!</p>
                <div class="divider">
                    <a href="#"><span id="Following">100</span> following</a>
                    <a href="#"><span id="Followers">200</span> followers</a>
                </div>
            </div>
            <!-- make a way for the datebase can change this to match crit-handle. -->
        </div>
