<div class="search"> 
	<div>
		<form action="/search" method="GET">
			<input id="search" name="search" type="text" placeholder="Search..." value="">
			<button id="search-btn">Search</button>
		</form>
	</div>
</div>