<ul class="sidebar unselectable">
    <!-- logo -->
    <a href="/">
        <li class="logo-li">
            <div class="sidebar-logo">
                <div class="logo">
                <img id="crit-logo" src="https://img.icons8.com/ios-glyphs/60/000000/bug--v1.png"/>
            </div> 
        </li>    
    </a>
    <!-- home -->
    <a href="/">
        <li>
            <div class="sidebar-div sidebar-home">
                <img src="https://img.icons8.com/material-rounded/30/000000/home-page.png"/>
                <p>Home</p>    
            </div>
        </li>    
    </a>
    <!-- profile -->
    <a href="/profile">
        <li>
            <div class="sidebar-div sidebar-profile">
                <img src="https://img.icons8.com/material-rounded/30/000000/user-male-circle.png"/>
                <p>Profile</p>    
            </div>
        </li>    
    </a>
    <!-- settings -->
    <a href="/settings">
        <li>
            <div class="sidebar-div sidebar-settings">
                <img src="https://img.icons8.com/ios-glyphs/30/000000/gear.png"/>
                <p>Settings</p>
            </div>
        </li>
    </a>
    <!-- search -->
    <div id="search-btn">
        <li class="search-li">
            <div class="sidebar-div sidebar-search">
                <img src="https://img.icons8.com/material-outlined/30/000000/search--v1.png"/>
                <p>Search</p>
                <div class="parent-container login-field">
                    <div class="login card fade" id="search-field">
                        <form action="/search" method="GET">
                            <input id="search" name="search" type="text" placeholder="Search..." value="">
                            <button id="search-btn">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </li>
    </div>
    <% if (userId === undefined) { %>
    <!-- login -->
    <div id="login-btn">
        <li>
            <div class="sidebar-div">
                <img src="https://img.icons8.com/windows/30/000000/user-male-circle.png "class="login-img"/>
                <p>Login</p>
                <div class="parent-container login-field">
                    <div class="login card fade login-field" id="login-field">
                        <form action="/auth" method="POST">
                            <input id="email" name="email" type="text" placeholder="Enter Email" value="" class="login-field">
                            <input id="password" name="password" type="password" placeholder="Enter Password" value="" class="login-field">
                            <button>Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </li>
    </div>
    <!-- sign up -->
    <div id="signup-btn">
        <li>
            <div class="sidebar-div">
                <img src="https://img.icons8.com/windows/32/000000/add-user-male--v1.png" class="login-img"/>
                <p>Sign Up</p>
                <div class="parent-container login-field">
                    <div class="login card fade login-field" id="signup-field">
                        <form action="/signup" method="POST">
                            <input name="email" type="text" placeholder="Enter Email" value="" class="login-field">
                            <input name="username" type="text" placeholder="Enter username" value="" class="login-field">
                            <input name="display_name" type="text" placeholder="Enter Display Name" value="" class="login-field">
                            <input name="password" type="password" placeholder="Enter Password" value="" class="login-field">
                            <button class="signup-btn">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </li>
    </div>
    <% } else { %>
    <!-- logout -->
    <div id="logout-btn">
        <li>
            <div class="sidebar-div">
                <img src="https://img.icons8.com/ios-filled/30/000000/login-rounded-right.png" class="login-img"/>
                <p>@<%= username %></p>
                <div class="parent-container">
                    <div class="login card fade login-field" id="logout-field">
                        <form action="/logout" method="POST">
                            <button>Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </li>
    </div>
    <% } %></ul>
