<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs',{page:{name:'Home'}}) %>  
<body>
    <%-include('partials/sidebar') %>

<main>

    <div class="timeline">
    <%- include('partials/profile-card', { user: userProfile[0].profile }); %>
    
        
        <%# for (let i = 0; i<critsProfile.length; i++){ %>
            <%# include('partials/single-crit', {crit: critsProfile[i].crit, 
                user: critsProfile[i].user})%>
        <%# } %>
    </div>
</main>

</body>
</html>




