<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs',{page:{name:'Home'}}) %>  
<!-- HEAD EJS -->
<body>

    <!-- grid container for overall layout -->
    <div class="container"> 
        <div class="logo">
            <div class="logo">
            <img id="crit-logo" src="https://img.icons8.com/ios-glyphs/60/000000/bug--v1.png"/>
            <br><br>

        </div> 
    </div>
        <div class="side-menu">
            <%-include('partials/sidebar') %>
        </div>
        <div class="results">
            <% for (let i = 0; i<crit_results.length; i++){ %>
                <%- include('partials/single-crit', {crit: crit_results[i].crit, user:crit_results[i].user})%>
            <% } %>
            <!-- template for crits and card design  -->

            <!-- reply: template for replies to crits -->

            <div class="crit card reply reply-text">
                <div class="divider">
                    <div class="crit-pfp"></div>
                    <input type="text" class="reply-textbox" placeholder="Write reply">
                </div>
            </div>
        </div>
        <!-- grid section that shows timeline of crits -->
        <div class="timeline">
            <!-- Send a Crit -->
            <form action="/" method="post">
                <input type="text" id="create-crit" name="create-crit" >
                <button id="create-crit-btn">CRIT!</button>
            </form>

            <!-- general container used for keeping the element relative like the other elements, but making the child absolute to adjust its position -->



        </div>

        <%- include('partials/search') %>
    </div>
</body>
</html>