<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs',{page:{name:'Home'}}) %>  
<!-- HEAD EJS -->
<body>
    <main>
        <%-include('partials/sidebar') %>
        <div class="timeline">
            <div class="edit crit card">
                <form action="/edit" method="POST">
                    <label for="Email">Email</label>
                    <input name="email" type="text" placeholder="Enter New Email" value="">
                    <br><br>
                    <label for="Nickname">Nickname</label>
                    <input name="display_name" type="text" placeholder="Enter New Nickname" value="">
                    <br><br>
                    <label for="Password">Password</label>
                    <input name="password" type="password" placeholder="Enter New Password" value="">
                    <br><br>
                    <button>Edit</button>
                </form>
            </div>
        </div>    
        <%- include('partials/search') %>
    </main>
</body>
</html>