
.container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 0.5fr 0fr 1.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "logo tweet-location search"
    ". . ."
    "side-menu timeline results";
}

.logo { 
    grid-area: logo; 
}

.side-menu { 
    grid-area: side-menu; 
}

ul {
    list-style: none;
    margin-left: 10px;
    padding: 0;
    font-weight: 600;
}

ul a {
    text-decoration: none;
    color: black;
}

.results { 
    grid-area: results; 
}

.timeline { 
    grid-area: timeline; 
}

.tweet-location { 
    grid-area: tweet-location; 
}

.search { 
    grid-area: search; 
}