#search{
    background-color:lightblue;
    border: none;
    border-radius: 6px;
    color: whitesmoke;
    box-shadow: thistle 3px 3px 6px;
    padding: 5px;
    margin: 5px;
    width: 200px;
}

#search-btn {
    background-color:lightblue;
    border: none;
    border-radius: 6px;
    color: rgb(169, 167, 167);
    box-shadow: thistle 3px 3px 6px;
}