#timeline-card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 35vh;
    width: 90vw;
}

#timeline-profile-name {
    margin-left: 1em;
}

#timeline-text{
    margin:0px;
    color: black;
    height: auto;
    margin: 1em;
}

#timeline-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}

#timeline-buttons a {
    font-size: 2em;
    
}

#timeline-profile-pic{

}

#timeline-profile-name{
    text-decoration: none;
    color: black;
}