<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Critter</title>
</head>
<body>
    <div id="profile-header">
        <div id="header-image"></div>
        <div class="container divider">
            <div id="profile-pic"></div>
            <!-- <button>Edit Profile</button> -->
        </div>
        <div class="container" id="header-text">
            <p id="name">lia</p>
            <p id="handle">@liaaa</p>
            <p id="bio">i love cute things, please be friendly!</p>
            <div class="divider">
                <a href="#"><span id="Following">100</span> following</a>
                <a href="#"><span id="Followers">200</span> following</a>        
        </div>
        </div>
    </div>
    <!-- <div id="new-crit">
        <input id="new-crit-textbox" type="text" placeholder="What's on your mind?">
    </div> -->
    <div id="crits">
        <p id="pinned-crit">Pinned Crit:</p>
        <div class="crit">
            <div class="divider">
                <div class="crit-pfp"></div>
                <p class="crit-name">lia</p>
                <p class="crit-handle">@liaaa</p>
            </div>
            <p class="crit-text">hiiiii this is my first crit!</p>
        </div>
    </div>
</body>
</html>