<div class="logo">
    <img src="https://img.icons8.com/ios-glyphs/60/000000/bug--v1.png"/>
    <br><br>
    <form action="/" method="post">
        <label for="create-crit">Create Crit!</label>
        <input type="text" id="create-crit" name="create-crit">
    </form>
</div>